<div class="projects">
  <h3>Microtonal Shruti Synth</h3>
  <p>
    As a solution for playing music withing Indian Classical music situations, I
    needed to find a solution to retune a keyboard instrument (usually fixed in
    pitch) to precise ratios used in certain music. This application which also
    has an electron verision leverages the WEBMIDI api in chromium, as well as
    Tone.js. Always in developement with this project!
  </p>
  <h5>Technologies Used:</h5>
  <p>React, React CONTEXT API, WEBMIDI API, Tone.js, Electron, Typescript</p>
  <h5>Links</h5>
  <a href="https://microtonalsynth.netlify.app"
    ><p>microtonalsynth.netlify.com</p></a
  >
  <a href="https://github.com/pawanbenjamin/electron-shruti-synth"
    ><p>Github Repo</p></a
  >
</div>
<div class="projects">
  <h3>Mariposa Wellness Site / Design</h3>
  <p>
    Managed the design of the Business' logo, as well as creation of the site.
    100% SEO compliant, and built using best practices for optimization.
  </p>

  <h5>Technologies Used:</h5>
  <p>Gatsby, Astro, Cloudinary, Adobe Suite, Figma</p>
  <h5>Links</h5>
  <a href="https://www.mariposawellnessllc.com"
    ><p>www.mariposawellnessllc.com</p></a
  >
</div>
<div class="projects">
  <h3>Traxx Spotify Clone</h3>
  <p>
    This was my first dive into using NextJS. Utilizing SSR, as well as
    libraries such as Prisma, SWR, Tailwind and Chakra UI this project was a lot
    of fun, and really made me appreciate the value of SSR Frameworks with
    React.
  </p>
  <h5>Technologies used:</h5>
  <p>Next JS, Prisma, SWR, Tailwind, Chakra UI</p>
  <h5>Links</h5>
  <a href="https://github.com/pawanbenjamin/nextMusicPlayer"
    ><p>Next Music Player Repo</p></a
  >
</div>
<style>
  .projects {
    margin: 2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1.1rem;
    width: 60%;
  }
</style>
