---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="pencil-line"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>FULLSTACK ACADEMY</h2>
    <p>
      As an instructor at Fullstack academy, I've authored curriclulm and led
      students through web technologies such as Javascript, HTML, CSS, Node.js,
      Mocha, Chai, Jest Jasmine, React, POSTGREsql, Express and more. I take
      passion in pedagogy, and believe it to be a huge help to improving as an
      engineer.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>FREELANCE PROJECT WORK</h2>
    <p>
      I've created and continued to manage several projects for clients across
      different industries. Projects required experience with Gatsby, React,
      Electron, SEO, and more.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="microphone-stage"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>MUSICIAN</h2>
    <p>
      I've been a lifelong musician and gradutate of the Manhattan School of
      Music. Recipient of the Van Lier Fellowship, Latin Grammy Nominee and is
      one of only a few people to play music in both Western and South Asian
      Classical contexts. For more please visit <a
        href="https://www.pawanbenjamin.com">www.pawanbenjamin.com</a
      >
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
